{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>SkyTrack</title>
</head>
<body>
    <div class="card">
        <div class="search">
            <form method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Enter a city name" spellcheck="false" name="city">
                <button type="submit">🔍</button>
            </form>
        </div>
        <div class="weather">
            <img src="{% static 'img/weather/rain.png' %}" alt="" class="weather-icon">
            <h1 class="temp">{{temp}}</h1>
            <h2 class="city">{{country_code}}</h2>
            <div class="details">
                <div class="col">
                    <img src="{% static 'img/weather/humidity.png' %}" alt="">
                    <div>
                        <p class="humidity">{{humidity}}%</p>
                        <p>Humidity</p>
                    </div>
                </div> <div class="col">
                    <img src="{% static 'img/weather/wind.png' %}" alt="">
                    <div>
                        <p class="wind">{{pressure}}</p>
                        <p>Pressure</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>